{
 ;; Casing
 :capitalized
 "Each word will be capitalized."

 :sentence
 "The first word will be capitalized and the rest will be converted
  to lowercase."

 :mixed
 "The first word will be converted to lowercase and the rest will be
  capitalized."

 :upper
 "Each word will be converted to all uppercase letters."

 :lower
 "Each word will be converted to all lowercase letters."

 ;; Spacing
 :no-separator
 "The words will not be separated."

 :space
 "Each word will be separated by \\space."

 :underscore
 "Each word will be separated by \\_."

 :hyphen
 "Each word will be separated by \\-."

 ;; Return type
 :string
 "Returns a new string by manipulating the lettercase of the string s."

 :name
 "Returns a string by manipulating the lettercase of the name of the
  string, symbol, or keyword s."

 :symbol
 "Returns a symbol by manipulating the lettercase of the string s."

 :keyword
 "Returns a keyword by manipulating the lettercase of the string s."

 ;; Miscellaneous
 :boundaries
 "Word boundaries will be determined by re if provided, otherwise
  they will be determined by the default pattern returned by
  separator-pattern."
}
