{:capitalized
 "Each word will be capitalized."

 :mixed
 "The first word will be converted to lowercase, and the rest will be
  capitalized."

 :upper
 "Each word will be converted to all uppercase letters."

 :lower
 "Each word will be converted to all lowercase letters."

 :no-separator
 "The words will not be separated."

 :space
 "Each word will be separated by \\space."

 :underscore
 "Each word will be separated by \\_."

 :hyphen
 "Each word will be separated by \\-."

 :string
 "Returns a new string by manipulating the lettercase of the string s."

 :name
 "Returns a string by manipulating the lettercase of the name of the
  string, symbol, or keyword s."

 :symbol
 "Returns an unqualified symbol from the manipulated lettercase of
  the string s."

 :keyword
 "Returns an unqualified keyword from the manipulated lettercase of
  the string s."

 :boundaries
 "Word boundaries will be determined by re if provided, otherwise
  they will be determined by the default pattern returned by
  separator-pattern."}
